footer{
background:url(/src/assets/footer.png) no-repeat center  ;
height: 260px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
flex-direction: column;
color: #fff;
}

.footer__socials i {
   font-size: 1.4rem;
   margin: 5rem 0 0 0.3rem;
   cursor: pointer;
}

.footer__socials i:hover{
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg,#2600fc,#ff00ea);
    color: transparent;
}
.footer_conditions{
  font-size: 0.6rem;
  margin-top: 1rem;
  

}
.footer_conditions span{
    margin-left: 0.7rem;
}


@media screen and (max-width:1080px) {
  
}